/* Variables */
:root {
  --bg-color: #f8ebf5;
  --navbar-color: #850E35;
  --navlink-color: #FFF5E4;
  --navlink-hover-color: #EE6983;
  --navlink-active-color: #FFC4C4;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--navbar-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--navlink-hover-color);
}

/* Layout override */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Podkova' , sans-serif;
  font-weight: 700;
  background-color: var(--bg-color);
}

html,
body,
div#__next {
  min-height: 100vh;
}

main {
  min-height: 72vh;
  padding-bottom: 165px;
}

a {
  color: inherit;
  text-decoration: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.carousel-item {
  height: 85vh;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

/* Home */

.product-type-card {
  height: 200px;
  background-size: 100% 200px;
}

#clothing {
  background-image: url("../public/clothing.jpg");
  color: white;
}

#accessories {
  background-image: url("../public/accessories.jpg");
  color: white;
}

#others {
  background-image: url("../public/others.webp");
  color: var(--navbar-color);
}

.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
}

.text-divider span {
  padding: 1rem;
  background-color: var(--bg-color);
}

.text-divider:before {
  content: "";
  display: block;
  border-top: 2px solid var(--navlink-hover-color);
  border-bottom: 2px solid var(--navlink-hover-color);
}

.product-card {
  height: 100%;
}

.product-card > img {
  height: 75%;
}

/* Product */
#productPage .carousel-item {
  height: 70vh;
}

/* Navbar */
nav {
  background-color: var(--navbar-color);
}

.nav-link {
  color: var(--navlink-color);
}

.nav-link.active {
  color: var(--navlink-active-color) !important;
}

.nav-link:hover {
  color: var(--navlink-hover-color);
}

/* Footer */

footer {
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 165px;
  margin-top: -165px;
}

.brand-icon {
  font-size: 1.5rem;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}